CompileFlags:
  Remove:
   - --expt-relaxed-constexpr
   - --compiler-options
   - --expt-extended-lambda
   - --use_fast_math
   - --threads
   - -gencode
   - -forward-unknown-to-host-compiler
   - --generate-code=*
   - -Xcompiler=*
  Add:
    - --no-cuda-version-check
---
If:
  PathMatch: .*\.cu
CompileFlags:
  Add:
    - "--cuda-gpu-arch=sm_80"
