# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
.pytest_cache
.cache

# C extensions
*.so

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
*.whl
.eggs

# IDE-related
.idea/
.vscode/

# Dev
venv
env
.tup
tup.config
local
compile_commands.json